.footer {
  background-color: black;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
  text-indent: 20px;
}

.footer-texto::before {
  content: "";
  width: 14px;
  height: 20px;
  display: block;
  background: url(../img/_=.svg) no-repeat center;
  position: absolute;
  top: 7px;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: white;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: white;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}


@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}